</main>

<footer id="footer" class="footer">
  <div class="info">
      <div class="container">
        &copy; <%= ano %> Perguntas e Respostas. Todos os direitos reservados.
      </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>

</body>
</html>
